[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
adhd = {editable = true,path = "."}
pytest-cov = "~=2.8"
codecov = "~=2.0"
twine = "~=2.0"
tox = "~=3.14"
pipenv-setup = "~=2.1"
black = "==19.3b0"
tox-travis = "==0.12"
pytest = "~=5.2"
pytest-mock = "~=1.11"
mypy = "*"

[packages]

[scripts]
build = 'python setup.py sdist'
release = 'python -m twine upload dist/*'

[requires]
python_version = "3.7"
